* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  padding: 0;
  background: #f9f2ec;
  color: #333;   
}
/*Link{
  color: #D2D6D9;
  text-decoration: none;
}*/
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #cadbff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header, footer{
  display: flex;
  text-align: left;
  background-color: #084200;
  color: #fff;
}
header div{
  /*padding: 3px 5px;*/
  font-size: 15px;
  flex-direction: column;
  /*padding: 15px;*/
  /*flex-wrap: wrap;*/

}
#section-1{
  display: flex;
  text-align: left;
  background-image: url(./img/image10.svg);
}
.box1{
  flex:2;
  flex-direction: column;
  padding-left: 15px;
  padding: 5px 0 5px 15px;
}
.box2{
  flex:5;
}
.box3{
  flex:1;
  /*margin: 10px;*/
}
.box4{
  flex:1;
  margin: 10px;
}

nav ul{
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #4B4E6D;
  /*opacity: 0.5;*/
  font-family: 'Teko-Light';
  text-decoration: none;
}
nav ul li{
  padding: 12px 0;
  align-self: flex-start;
  padding-left: 15px;  /*as header div {padding:15px;}*/
  font-size: 25px;
  text-decoration: none;
}

.book-link ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  font-size: 25px;
  font-family: Pettaya;
  border: 1px solid #262A4F;
}

.book-link li{
  padding: 30px;
}

/*footer {
  display: flex;  
  background-color: #262A4F;
  color: #fff;
}*/
footer div{
  padding: 15px;
}
footer ul {
  list-style: none;
  /*padding-left: 30px;*/
}
footer ul li{
  list-style: none;
  align-self: flex-start;
  text-align: left;
}
#name {
  flex:4;
  align-self: flex-start;
}
.list{
  flex:1;
}




@media (max-width:500px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  header, footer{
    flex-direction: column;
  }



}

.App-header {
  background-color: #cadbff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Solway; /* Имя шрифта */
  src: url('./fonts/Solway-Regular.ttf');
 }
 @font-face {
  font-family: Solway-Bold; /* Имя шрифта */
  src: url('./fonts/Solway-Bold.ttf'); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Solway-Light; /* Имя шрифта */
  src: url('./fonts/Solway-Light.ttf'); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: Pettaya; /* Имя шрифта */
  src: url('./fonts/Pattaya-Regular.ttf'); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Teko-Light; /* Имя шрифта */
  src: url('./fonts/Teko-Light.ttf'); /* Путь к файлу со шрифтом */
 }


.item__button {
  font-family: Pattaya;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.0125em;
  text-align: left;
  color: #f4f4f4;
  width: 76px;
  min-height: 33px;
  background: #262A4F;
  text-align: center;
  transition: all linear 200ms;
  position: relative;
}

.icons {

  letter-spacing: -0.0125em;
  text-align: left;
  color: #f4f4f4;
  /*width: 37px;*/
  /*height: 23px;*/
  /*min-height: 13px;*/
  background: #4B4E6D;
  text-align: center;
  transition: all linear 200ms;
  position: relative;
  border-radius: 15px;
  margin: 10px;
  padding: 0px;
}


.palka {
  border: none; /* Убираем границу */
  background-color: #262A4F; /* Цвет линии */
  color: #262A4F; /* Цвет линии для IE6-7 */
 }

.item__button {
  font-family: Pattaya;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.0125em;
  text-align: left;
  color: #f4f4f4;
  width: 250px;
  min-height: 33px;
  background: #084200;
  text-align: center;
  transition: all linear 200ms;
  position: relative;
}

.icons {
  flex:1;
  background: #088a3a;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border-radius: 10px;
 /* padding: 5px 10px;*/
  padding: 5px;
}


.palka {
  border: none; /* Убираем границу */
  background-color: #084200; /* Цвет линии */
  color: #084200; /* Цвет линии для IE6-7 */
 }

