.palka {
  border: none; /* Убираем границу */
  background-color: #088a3a; /* Цвет линии */
  color: #a08bd1; /* Цвет линии для IE6-7 */
 }
.item__button1 {
  font-family: Pattaya;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.0125em;
  text-align: left;
  color: #f4f4f4;
  width: 100px;
  min-height: 33px;
  background: #088a3a;
  text-align: center;
  transition: all linear 200ms;
  position: relative;
}
.Button2 {
  font-family: Pattaya;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.0125em;
  text-align: left;
  color: #f4f4f4;
  width: 120px;
  min-height: 40px;
  min-width: 400px;
  background: #088a3a;
  text-align: center;
  transition: all linear 200ms;
  position: relative;
  align-items: flex-end;
}